/* See http://msdn.microsoft.com/en-us/library/aa381058.aspx for format docs,
 * and mozilla/config/version_win.pl for what Mozilla uses
 */

#include<winver.h>

#define VER_BUILDID_STR "200907132234-d5f42e98487b"
#define VER_FILEVERSION 1,9,0,200907132234
#define VER_PRODUCTVERSION 1,9,0,200907132234

#define VER_FILEFLAGS 0 | VS_FF_PRIVATEBUILD | VS_FF_PRERELEASE

#define VER_PRODUCTNAME_STR "Jetpack"
#define VER_INTERNALNAME_STR "JetpackAudio"
#define VER_FILEVERSION_STR "1.9.0.200907132234"
#define VER_PRODUCTVERSION_STR "1.9.0.200907132234"

#define VER_COMPANYNAME_STR "Mozilla Corporation"
#define VER_LEGALTRADEMARKS_STR "Mozilla"
#define VER_LEGALCOPYRIGHT_STR "License: MPL 1.1/GPL 2.0/LGPL 2.1"

#define VER_COMMENTS_STR ""
#define VER_FILEDESCRIPTION_STR ""
#define VER_ORIGINALFILENAME_STR ""

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILEFLAGSMASK  0x3fL
FILEFLAGS      VER_FILEFLAGS
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_DLL
FILESUBTYPE    0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", VER_COMMENTS_STR
            VALUE "LegalCopyright", VER_LEGALCOPYRIGHT_STR
            VALUE "CompanyName", VER_COMPANYNAME_STR
            VALUE "FileDescription", VER_FILEDESCRIPTION_STR
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR
            VALUE "InternalName", VER_INTERNALNAME_STR
            VALUE "LegalTrademarks", VER_LEGALTRADEMARKS_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName", VER_PRODUCTNAME_STR
            VALUE "BuildID", VER_BUILDID_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
